body{
  margin: 0%;
  font-family: 'Source Sans Pro', sans-serif;
}
.page{
  width: 100%;
  height: 100vh;
  background: radial-gradient(70.94% 141.17% at 77.36% 65.72%, #2411DC 0%, #0B035B 100%);
}
.bgimg{
  position: absolute;
width: 1498px;
height: 90vh;
  background-image: url("./statics/png/pianoBg.png"),radial-gradient(70.94% 141.17% at 77.36% 65.72%, #2411DC 0%, #0B035B 100%);
  background-blend-mode: lighten;
}
.navbar{
  display: flex;
  align-items: center;
  padding-top: 67px;
  padding-left: 160px;
  padding-right: 160px;
}
.navlogo{
  padding-right: 35vw;
}
.navlinkgroup{
  display: flex;
}
.navlink{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 13px;
  cursor: pointer;
}
#selected{
  color: #FFF500;
  border-bottom: 1px solid #FFF500;;
}
.navlink:hover{
  color: #FFF500;
}
.home{
  display: flex;
}
.jgname{
  
}
.jgpic{
width: 399.26px;
height: 586.31px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.jgsoul{
mix-blend-mode: lighten;
}
.smallhead{
  font-style: normal;
font-weight: 450;
font-size: 18px;
line-height: 23px;
color: #FFF500;
padding-bottom: 25px;
border:lawngreen solid;
margin-bottom: 0px;
}
.smallcontent{
  font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 114%;
/* or 34px */

border:lawngreen solid;
text-transform: capitalize;

color: #FFFFFF;

}
.smallquotes{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 114%;
  /* or 21px */
  
  text-transform: capitalize;
  
  color: #FFFFFF;
}